* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-wrap: balance;
}

h1 {
    font-size: 4rem;
    text-align: center;
    border-bottom: 1px solid grey;
}

h2 {
    margin-bottom: 0;
    padding: 1px;
    border-bottom: 1px solid grey;
}
h2,
h3 {
    font-size: 120%;
    padding: 1px;
}

p {
    text-align: center;
}

body {
    background-color: gainsboro;
}

main {
    display: block;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 100px;
}

.body {
    padding: 1em;
    margin: 20px;
}

.body p {
    text-align: left;
    font-size: 120%;
}

figure {
    border: 1px solid gainsboro;
}

image {
    object-fit:scale-down;

}

figcaption {
    background-color:ivory;
    font-size: 150%;
    padding: 10px;
}