* {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
}

h1 {
    font-size: 4rem;
    margin-block: 1em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    border-bottom: 1px solid grey;
}

h2 {
    margin-bottom: 0;
    padding-top: 1;
    border-bottom: 1px solid grey;
}

p {
    text-align: center;
}

body {
    background-color: gainsboro;
}

main {
    display: block;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding: 50px;
}

.body {
    padding: 1em;
    margin: 20px;
}

.body p {
    text-align: left;
}

figure {
    border: 1px solid gainsboro;
}

image {
    object-fit: contain;
}

figcaption {
    background-color:ivory;
    padding: 5px;
    
}