:root {
    --color-background: oklch(0.9445 0 0);
    --color-font: oklch(0.3868 0.0258 234);
    --color-figcap: oklch(0.9264 0.0258 234);
    --color-h3: oklch(0.7342 0.141 141.99 / 32.6%)
}

h1 {
    text-align: center;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-size: 4rem;
}

h2 {
    border-bottom: 1px solid grey;
    margin-top: 0;
    padding-bottom: 10px;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

h3 {
    background-color: var(--color-h3);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

p {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body {
    background-color: var(--color-background);
}

main {
    display: block;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    padding: 50px;
    font-size: 1.2em;
    color: var(--color-font);
}

.body p {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

ul { 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.FR p {
    text-indent: 50px;
}

figure {
    border: 1px solid gainsboro;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    background-color:var(--color-figcap);
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}